* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'pretendard';
}

body {
  margin: auto 200px;
  width: 100%;
}

button {
  text-align: center;
  background-color: #3692ff;
  border-radius: 8px;
  padding: 12px 23px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  border: none;
}

button:hover {
  background-color: #1967D6;
  ;
}

button:active {
  background-color: #1251AA;
  ;
}

a.goto {
  color: #ffffff;
  text-decoration: none;
}

footer {
  background-color: #111827;
  height: 160px;
  margin: 0 -200px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border: 1px;
  padding: 9px auto;
  margin: 0 auto;
}

.logo{
  width: 153px;
  height: 51px;
}

.login{
  width: 128px;
  height: 48px;
  border-radius: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfe5ff;
  height: 540px;
  margin: 0 -200px;
}

.titles {
  display: flex;
  color: #374151;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.more {
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 16px 124px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;
}

.banner-img {
  display: flex;
  align-items: flex-end;
  width: 746px;
  height: 340px;
  
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 720px;
  padding: 276px auto;
  margin: 0 -200px;
}

.main-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fcfcfc;
  width: 988px;
  border-radius: 12px;
}

.main-img{
  display: flex;
  width: 579px;
  height: 444px;
}

.main-subtitle {
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.main-content{
  color: #374151;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  gap: 20px;
}

.footer-codeit {
  color: #9ca3af;
}

.footer-page {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  width: 159px;
}

.footer-links {
  display: inline-block;
  width: 20px;
  height: 20px;
}